{

    "startTime": "2026-01-09T12:00:00-0500",
	"endTime": "2026-12-31T23:59:59-05:00",
	"lastUpdated": "2026-01-09T11:56:39-05:00",
	"timezone": "America/New_York",
	"recipients": [
		{
			"role": "primary",
			"priority": 1,
			"firstName": "",
			"lastName": "",
			"number": "+15085551234"
		},
		{
			"role": "secondary",
			"priority": 2,
			"firstName": "",
			"lastName": "",
			"number": "+15085554321"
		},
		{
			"role": "tertiary",
			"priority": 3,
			"firstName": "",
			"lastName": "",
			"number": "+15085557654"
		}
	],
	"hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
}
